@media screen and (max-width: 1225px){
    .none1200{
        display: none;
    }

    .section__card{
        padding: 15px 30px;
    }
    .card__iconos{
        width: 30%;
    }

}

@media screen and (max-width: 992px){
    .none992{
        display: none;
    }
    .content__left{
        width: 20%;
    }

    .content__section{
        width: 80%;
    }
    
    .section__card{
        padding: 15px 20px;
    }

    .card__iconos{
        width: 35%;
    }

    .card__informacion{
        width: 50%;
    }
    .minuto__botones{
        width: 50%;
    }
    
    .minuto__iconos{
        width: 25px;
    }

    .minuto__play{
        width: 35px;
    }

    .minuto__barra{
        width: 75%;
    }

    .volumen__elementos{
        width: 80%;
    }
}

@media screen and (max-width: 885px){
    .none885{
        display: none;
    }

    .content__left{
        width: 7.2%;
    }

    .home__imagen,
    .likes__imagen{
        width: 100%;
    }
    .content__section{
        width: 92.8%;
    }

    .card__informacion{
        text-align: center;
    }

    .card__iconos{
        width: 40%;
    }

    .card__informacion{
        width: 60%;
    }
    .content__down{
        padding:10px;
        align-items: center;

    }

    .cancion__figura{
        width: 45px;
        height: 45px;
        overflow: hidden;
    }

    .minuto__botones{
        justify-content: space-around;
    }
    .volumen__elementos{
        justify-content: flex-end;
    }
}

@media screen and (max-width: 576px){
    .none576{
        display: none;
    }

    .content__phone{
        position: fixed;
        background-color: #181818;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;    
        bottom: 60px;
        padding: 10px 0px;
        font-size: 16px;
        font-family: var(--fuenteuno);
    }

    .phone__iconos{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: var(--coloruno);
        font-size: 14px;
        text-align: center;
    }

    .content__section{
        width: 100%;
        left: 0;
    }
    .content__down{
        bottom: 120px;
        border-bottom: solid .5px #333;
        justify-content: space-between;
    }
    .down__minuto{
        align-items: flex-end;
    }

    .minuto__botones{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        align-self: flex-end;
    }


    .play{
        display: block;
        fill: white;
        transition: filter .3s ease;
    }
    .play:hover{
        filter: brightness(50%);
    }

    .cancion__elementos{
        width: 200%;
    }

    .section__card{
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .card__iconos{
        width: 100%;
    }

    .card__informacion{
        width: 100%;
        margin: 10px 0 0;
    }

    .informacion__texto{
        width: 100%;
        text-align: center;
    }

    .card__imagen{
        width: 50%;
        margin: auto;
        height: auto;
        aspect-ratio: 1;
    }

    .card__flecha{
        background-color: transparent;
        border-radius: 50%;
        padding: 5px;
        text-align: center;
        margin-left: 0;
        cursor: pointer;
        transition: background-color .3s ease;
    }

    .card__flecha:hover{
        background-color: rgba(0, 0, 0, .8);
    }

    .section__lista{
        grid-template-areas: 
        "foto nombre nombre nombre nombre nombre nombre nombre nombre nombre nombre nombre nombre nombre nombre nombre nombre duracion duracion duracion";
        color: var(--coloruno);
        font-family: var(--fuentedos);
        font-size: 14px;
        font-weight: 300;
    }
}